[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/siddarthg/Desktop/balenaEtcher-1.5.73-x64.AppImage]
row=5
col=0

[/home/siddarthg/Desktop/flutter_windows_v1.12.13+hotfix.7-stable.zip]
row=3
col=0

[/home/siddarthg/Desktop/Windows 10 Pro x64 En-US Activated.iso]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/siddarthg]
row=2
col=0

